.postcard-container {
    width: 90%;
    max-width: 64rem;
    margin-inline: auto;
    margin-block: 1rem;
    padding: 1rem 1.5rem;
    box-shadow: 1px 1px .5rem .1rem hsla(0, 0%, 0%, 0.15);
    border-radius: 1rem;
}

.createdby {
    width: max-content;
    margin-top: 1.125rem;
    padding: .4rem .75rem;
    background-color: hsla(0, 0%, 74%, 0.5);
    border-radius: .75rem;
    font-size: .85rem;
}

.title {
    margin-bottom: .75rem;
    display: flex;
    justify-content: space-between;
}

.delete {
    color: rgb(190, 33, 33);
    font-size: 1.125rem;
}

.delete:hover {
    cursor: pointer;
}