@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  font-family: 'Poppins', sans-serif;
}

textarea {
  resize: none;
}

button, input, textarea {
  font: inherit;
  border: none;
} 

.container {
  width: 95%;
  max-width: 72rem;
  margin-inline: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.btn-primary {
  width: max-content;
  margin-inline: auto;
  padding: .6rem 1rem;
  border-radius: .5rem;
  background-color: hsl(240, 62%, 43%);
  color: hsl(0, 0%, 100%);
}

.btn-primary:hover {
  cursor: pointer;
}